<script type="text/template" id="detail_template">
	<div class="link btn-back"><a href="#" data-selector="back">Back</a></div>
	<div class="detail-feed">
		<h1 class="h1"><span><%= item.title %></span></h1>	
		<ul class="info-publication">
			<li class="li"><span class="author"><a href="https://www.flickr.com/photos/<%= item.author_id %>">Photo author</a></span></li>
			<li class="li"><span class="published">Published: <time datetime="<%= item.published %>"><%= item.published %></time></span></li>	
		</ul>
		<div class="description"><%= item.description%></div>
		<div class="tags-container">
			<p>
				<span>Tags: </span>
				<% _.each(item.tags, function(item) { %>  
					<%= item %>
				<% }); %>
			</p>
		</div>
	</div>
</script>