<script type="text/template" id="item">
	<article class="article">
		<figure class="figure crop-box-image">
			<img src="<%= item.media.m %>" title="Click to more detail" class="img" data-selector="see-detail"/>
		</figure>
		
		<figcaption class="figcaption">
			<h1 class="h1"><span><%= item.title %></span></h1>	
			<span class="published">Published: <time datetime="<%= item.published %>"><%= item.published %></time></span>	
			<span class="author"><a href="https://www.flickr.com/photos/<%= item.author_id %>">Photo author</a></span>
			<span class="view-flickr"><a href="<%= item.link %>">View on Flickr</a></span>
		</figcaption>
	</article>
	<div class="container-arrow"><div class="arrow-right"></div></div>
</script>
