/**
 * Definition of colors 
 * 
 * [$black color]
 * [$grey color]
 * [$white color]
 * [$dark-grey color]
 * 
 **/

$black: #000000;
$grey: #666666;
$white: #fff;
$dark-grey: #212727;

$font-daring: 'Open Sans', sans-serif;

$regular-size: 1.2rem;
$medium-size: 1.8rem;

/**
 * aditional reset
 * [h2 margins]
 */

h1, h2, h4, ul, li{
	margin:0;
	padding:0;
	font-weight:normal
}

.h1 {
	font: 2.2rem $font-daring;
	color:$white;
	margin-bottom:$medium-size;
	@media (min-width: 800px) {
		font-size: 2.8rem;
	}
}

a, .link {
	color:$white;
	cursor: pointer;
	text-decoration:underline;
	&:hover{
		color:$white;
	}
}

html {
    font-size: 62.5%;
    height: 100%;
    font-family: Verdana, sans-serif;
}

body{
	background-color:$black;
}

.header {
	background: $black;
	border-bottom:0.1rem solid $white;
	height: 2.6rem;
	padding: $regular-size;
	position:fixed;
	top:0;
	width:100%;
	z-index:999;
	.welcome-text{
		color:$white;
		font: 1.6rem $font-daring;
	}
}

.welcome-box{
	display:none;

	@media (min-width: 800px) {
		background:#eaeff2;
		background-image: url(//c4.staticflickr.com/4/3607/3513187252_f7091dedc4_b.jpg); 
		background-size:100%; 
		background-position:10%;
		border-bottom:1px solid $white;
		display:block;
		height:20rem;
		margin-top:5rem;
	}
}

.main {
	height:100%;
	padding:0;
	@media (min-width: 800px) {
		max-width:900px;
		margin:0 auto;
		padding:$regular-size;
	}
	.item-detail{
		margin: 5.2rem 0 0 0;
		opacity:0;
		@media (min-width: 800px) {
			margin-top: 0;
		}
	}

	.list-feeds  {
		margin: 5.2rem 0 0 0;
		padding:0;
		position:relative;

		.item-list {
			
			padding:0;
			clear:right;
			margin:$regular-size 0;
			overflow:hidden;
			list-style:none;
			position:relative;
			
			@media (min-width: 800px) {
				margin:$regular-size 1.8rem 1.8rem 0;
			}
			.article {
				display:table;
				padding-right: 0;
				@media (min-width: 800px) {
					padding-right: 2.4rem;
				}
			}

			.figure {
				background-color:$dark-grey;
				float:left;
				margin: 0;
				display:table-cell;
			}

			.figcaption {
				background-color:$dark-grey;
				padding:0 $regular-size;
				font-size:1rem;
				display:table-cell;	
				vertical-align:top;
				width:100%;
			
				.published, .author, .view-flickr{
					font-size: 1.2rem;
				}

				.published{
					color:$grey;
					display:block;
					margin-bottom:0.6rem;
					margin-right: $regular-size;
					
					@media (min-width: 800px) {
						display:inline-block;
					}
				}

				.author {
					margin-right:1.2rem;
					@media (min-width: 800px) {
						float:left;
					}
				}
			}
		}
	}
	.detail-feed {
		overflow:hidden;
		color:$white;
		clear:right;
		padding:0 $regular-size;
		font-size:1.2rem;
		
		@media (min-width: 800px) {
			padding:$regular-size;
		}

		.info-publication{
			.li {
				display: inline-block;
			}
		}
		.author{
			&:after {
				content: ' | ';
			}
		}
		.description {
			img {
				width:100%;
				height:auto;
				@media (min-width: 800px) {
					float:left;
					margin-right: $regular-size;
					width:28rem;
					height:auto;
				}
			}
		}
	}
}
.btn-back{
	background: $black;
	float:right;
	margin-bottom: 1.2rem;
	text-align: right;
	padding-right: $regular-size;
	width:10rem;
	
	@media (min-width: 800px) {
		margin-bottom: 1.8rem;
	}

	a {
		color:$white;
		font: 1.6rem $font-daring;
	}
	
}
.crop-box-image {
	position: relative;
	overflow: hidden;
	width: 12rem;
	height: 12rem;

	@media (min-width: 800px) {
		width: 16rem;
		height: 16rem;
	}

	img {
		position: absolute;
		top: -120% ;
		bottom: -120%;
		left: -120%;
		right: -120%;
		margin: auto; 
		height: auto;
		width: auto;
		&:hover{
			cursor:pointer;
			background:$dark-grey;
			opacity: 0.4;
		}
	}
}

.container-arrow {
	@media (min-width: 800px) {
		display:none;
		position:absolute;
		right:0.5rem;
		top:50%;
		margin-top:-20px;
		.arrow-right {
			width: 0; 
			height: 0; 
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;
			border-left: 20px solid $dark-grey;
		}
	}
}

.block{
	display:block;
}
.hidden {
	opacity: 0;
}