/**
 * Definition of colors 
 * 
 * [$black color]
 * [$grey color]
 * [$white color]
 * [$dark-grey color]
 * 
 **/
/**
 * aditional reset
 * [h2 margins]
 */
h1, h2, h4, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal; }

.h1 {
  font: 2.2rem "Open Sans", sans-serif;
  color: #fff;
  margin-bottom: 1.8rem; }
  @media (min-width: 800px) {
    .h1 {
      font-size: 2.8rem; } }

a, .link {
  color: #fff;
  cursor: pointer;
  text-decoration: underline; }
  a:hover, .link:hover {
    color: #fff; }

html {
  font-size: 62.5%;
  height: 100%;
  font-family: Verdana, sans-serif; }

body {
  background-color: #000000; }

.header {
  background: #000000;
  border-bottom: 0.1rem solid #fff;
  height: 2.6rem;
  padding: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  .header .welcome-text {
    color: #fff;
    font: 1.6rem "Open Sans", sans-serif; }

.welcome-box {
  display: none; }
  @media (min-width: 800px) {
    .welcome-box {
      background: #eaeff2;
      background-image: url(//c4.staticflickr.com/4/3607/3513187252_f7091dedc4_b.jpg);
      background-size: 100%;
      background-position: 10%;
      border-bottom: 1px solid #fff;
      display: block;
      height: 20rem;
      margin-top: 5rem; } }

.main {
  height: 100%;
  padding: 0; }
  @media (min-width: 800px) {
    .main {
      max-width: 900px;
      margin: 0 auto;
      padding: 1.2rem; } }
  .main .item-detail {
    margin: 5.2rem 0 0 0;
    opacity: 0; }
    @media (min-width: 800px) {
      .main .item-detail {
        margin-top: 0; } }
  .main .list-feeds {
    margin: 5.2rem 0 0 0;
    padding: 0;
    position: relative; }
    .main .list-feeds .item-list {
      padding: 0;
      clear: right;
      margin: 1.2rem 0;
      overflow: hidden;
      list-style: none;
      position: relative; }
      @media (min-width: 800px) {
        .main .list-feeds .item-list {
          margin: 1.2rem 1.8rem 1.8rem 0; } }
      .main .list-feeds .item-list .article {
        display: table;
        padding-right: 0; }
        @media (min-width: 800px) {
          .main .list-feeds .item-list .article {
            padding-right: 2.4rem; } }
      .main .list-feeds .item-list .figure {
        background-color: #212727;
        float: left;
        margin: 0;
        display: table-cell; }
      .main .list-feeds .item-list .figcaption {
        background-color: #212727;
        padding: 0 1.2rem;
        font-size: 1rem;
        display: table-cell;
        vertical-align: top;
        width: 100%; }
        .main .list-feeds .item-list .figcaption .published, .main .list-feeds .item-list .figcaption .author, .main .list-feeds .item-list .figcaption .view-flickr {
          font-size: 1.2rem; }
        .main .list-feeds .item-list .figcaption .published {
          color: #666666;
          display: block;
          margin-bottom: 0.6rem;
          margin-right: 1.2rem; }
          @media (min-width: 800px) {
            .main .list-feeds .item-list .figcaption .published {
              display: inline-block; } }
        .main .list-feeds .item-list .figcaption .author {
          margin-right: 1.2rem; }
          @media (min-width: 800px) {
            .main .list-feeds .item-list .figcaption .author {
              float: left; } }
  .main .detail-feed {
    overflow: hidden;
    color: #fff;
    clear: right;
    padding: 0 1.2rem;
    font-size: 1.2rem; }
    @media (min-width: 800px) {
      .main .detail-feed {
        padding: 1.2rem; } }
    .main .detail-feed .info-publication .li {
      display: inline-block; }
    .main .detail-feed .author:after {
      content: ' | '; }
    .main .detail-feed .description img {
      width: 100%;
      height: auto; }
      @media (min-width: 800px) {
        .main .detail-feed .description img {
          float: left;
          margin-right: 1.2rem;
          width: 28rem;
          height: auto; } }

.btn-back {
  background: #000000;
  float: right;
  margin-bottom: 1.2rem;
  text-align: right;
  padding-right: 1.2rem;
  width: 10rem; }
  @media (min-width: 800px) {
    .btn-back {
      margin-bottom: 1.8rem; } }
  .btn-back a {
    color: #fff;
    font: 1.6rem "Open Sans", sans-serif; }

.crop-box-image {
  position: relative;
  overflow: hidden;
  width: 12rem;
  height: 12rem; }
  @media (min-width: 800px) {
    .crop-box-image {
      width: 16rem;
      height: 16rem; } }
  .crop-box-image img {
    position: absolute;
    top: -120%;
    bottom: -120%;
    left: -120%;
    right: -120%;
    margin: auto;
    height: auto;
    width: auto; }
    .crop-box-image img:hover {
      cursor: pointer;
      background: #212727;
      opacity: 0.4; }

@media (min-width: 800px) {
  .container-arrow {
    display: none;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    margin-top: -20px; }
    .container-arrow .arrow-right {
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #212727; } }

.block {
  display: block; }

.hidden {
  opacity: 0; }

/*# sourceMappingURL=styles.css.map */
